@import "node_modules/react-select/dist/react-select.css";
@import "node_modules/react-virtualized/styles.css";
@import "node_modules/react-virtualized-select/styles.css";

.content {
    margin: auto;
    width: 700px; 
    padding-top: 10px;
    font: 14pt/1.5em Georgia, Times, serif;
}

.weather {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}